@model HairSalon.ViewModels.LoginViewModel
@using HairSalon.ViewModels


@{
    Layout = "_Layout";
}

<div class="main-display">
  @if(!ViewData.ModelState.IsValid) 
  {
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:",  new { @class = "text-danger", @style = "font-weight: 600;"}) 
  }

  @using (Html.BeginForm())
  {
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.EditorFor(m => m.Password)

    <input type="submit" value="Log in" />
  }
</div>
<p>@Html.ActionLink("Register for an account", "Register")</p>
<p>@Html.ActionLink("Back to accounts page", "Index")</p>