@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="col py-2 col-xl-10 px-sm-2 px-0" id="main-display">
  <h1>Add New Client</h1>
  <p>A list of all stylists in the database.</p>
  @Html.ActionLink("Add stylist", "Create", "Stylists")
  <hr/>
  <p>PS: All clients must be PAIRED with a QUEEN(stylist). If you do not add a stylist first you cannot add a client.</p>
  <p>Click here to add stylist!:</p>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")
    <input type="submit" value="Add new client"/>
  }
</div>