@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="col py-2 col-xl-10 px-sm-2 px-0" id="main-display">
  <h1>Edit Client Details</h1>
  <p>Edit details for the selected client.</p>
  <hr/>
  <h4><strong>Client</strong>: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.ClientId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")
    
    <input type="submit" value="Save" />
  }
</div>